@media only screen and (min-width: 500px) {
  .ak-ads-cards a.ui.card {
    width: 45%;
  }
}

@media only screen and (min-width: 600px) {
  .ak-ads-cards a.ui.card {
    width: 30%;
  }
}

@media only screen and (min-width: 800px) {
  .ak-ads-cards a.ui.card {
    width: 18%;
  }
}
