.ak-hm-search-container {
  height: 450px;
  min-height: 450px;
  background-image: url(../../images/home-page-search-bg.jpg);
  background-size: cover;
  width: 100%;
  display: table;
}

.ak-hm-search-field-area {
  font-family: Open Sans Condensed, Helvetica Neue, sans-serif;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.ak-hm-search-header {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}

.ak-hm-search-subheader {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 18px;
}
