.ak-hp-latest-ads-duration {
  color: #bbb;
}

.ak-hp-latest-ads-link {
  color: #369;
  transition: 0.5s;
}

.ak-hp-latest-ads-link:hover {
  text-decoration: underline;
  color: #fa7722;
}

@media only screen and (min-width: 500px) {
  .ak-hp-latest-ads-cards a.ui.card {
    width: 45%
  }
}

@media only screen and (min-width: 600px) {
  .ak-hp-latest-ads-cards a.ui.card {
    width: 30%
  }
}

@media only screen and (min-width: 800px) {
  .ak-hp-latest-ads-cards a.ui.card {
    width: 18%
  }
}


@media only screen and (min-width: 1000px) {
  .ak-hp-category-card {
    width: 20%
  }
}
