.ak-header {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.ak-navbar {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  border: 1px solid #e7e7e7;
  border-bottom-color: #e8e8e8;
  background-color: #f8f9fa;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.ak-main-logo {
  width: auto;
  height: 40px;
  float: left;
  margin: 0 5px 5px 0;
}

.ak-navbar-collapsible {
  display: none;
}

.ak-navbar-sidebar {
  display: flex;
}


@media only screen and (min-width: 850px) {
  .ak-navbar-collapsible {
    display: flex;
  }
  .ak-navbar-sidebar {
    display: none;
  }
}
